<h1>Login in</h1>




 <%= form_with(scope: :session,url: login_path, local: true) do |f|%>
  <p>
 <%=f.label :email%><br/>
 <%=f.email_field :email,placeholder:"Enter your email" %>
 </p>
   <p>
 <%=f.label :password%><br/>
 <%=f.password_field :password,placeholder:"Enter your password" %>
 </p>
 <p>
 <%=f.submit "login" %>
 </p>
 <%end%>    
 <%=link_to 'Back to homepage',root_path%>