<h1>Showing Article details</h1>
<p><strong>Title:</strong><%=@article.title%></p>
<p><strong>Description:</strong><%=@article.description%></p>
<p>
<%=link_to'Edit this article',edit_article_path(@article)%> |
<%=link_to'Back to homepage',articles_path%> |
<%=link_to'Delete this article',article_path(@article), data:{turbo_method: :delete, turbo_confirm: "Are you sure"}%>
</p>