<h1><%=@user.username%>'s Profile</h1>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
<h3>Articles</h3> 
<%if logged_in? && @user==current_user%>
<%=link_to 'Edit Your Profile',edit_user_path(@user.id)%><%end%> | <%=link_to'Bloggers',users_path%> | <%=link_to "Delete Profile",user_path(current_user),data:{turbo_method: :delete,turbo_confirm:"Are you sure?"} %>
<%=render 'articles/article'%>
